*{
    font-family: 'Comfortaa', cursive;
    /*font-family: 'Kaushan Script', cursive;*/
    /*font-family: 'Montserrat', sans-serif;*/

}
html,h1,h2,h3,h4,h5,h6{
    color: #5c5b5b;
}
body{
    background: #e8e8e8;
}
a{
    text-decoration: none;
    color: inherit;
}
/*
    Header
 */
header{
    background: #158585;
    height: 70px;
}
header *{
    color: #ffffff;
}
header h1{
    margin-top: 11px;
}
header h1 a:hover{
    color: #ffffff;
}
header ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}
header ul li {
    float: left;
    position: relative;
}
header ul li a {
    display: block;
    font-size: 1.2rem;
    padding: 21px;
    height: 70px;
}
header ul li a:hover {
    transition: 1s;
    color:#ffffff;
    background: #0b4646;
}
header ul li ul{
    background-color: #989898;
    position: absolute;
    top: 70px;
    right: 0px;
    width: 180px;
    z-index: 888888;
    display: none;
}
header ul li:hover ul{
    display: block;
}
header ul li ul li{
    width: 100%;
}
header ul li ul li a{
    font-size: 1.1rem ;
}
/*
    carousel
 */
.carousel_title{
    text-align: center;
    padding: 20px 0;
    margin: 0;
}
.carousel-inner , .carousel-item{
    border-radius: 5px;
}
.carousel-caption h5{
    font-size: 2rem;
    font-weight: 500;
    background: black;
    max-width: 100%;
    padding: 0.3em;
    opacity: 0.5;
    color: white;
}
.carousel-caption-hack{
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0.05rem;
    padding-top:0rem;
    padding-bottom:0rem;
    text-align: center;
    width: 100%;
}
.carousel-caption h5 a:hover{
    color: white;
    text-decoration: underline;
}




