*{
    font-family: 'Comfortaa', cursive;
    /*font-family: 'Kaushan Script', cursive;*/
    /*font-family: 'Montserrat', sans-serif;*/

}
html,h1,h2,h3,h4,h5,h6{
    color: #5c5b5b;
}
body{
    background: #e8e8e8;
}
a{
    text-decoration: none;
    color: inherit;
}

/*
    Header
 */
header{
    background: #158585;
    height: 70px;
}
header *{
    color: #ffffff;
}
header h1{
    margin-top: 11px;
}
header h1 a:hover{
    color: #ffffff;
}
header ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}
header ul li {
    float: left;
    position: relative;
}
header ul li a {
    display: block;
    font-size: 1.2rem;
    padding: 21px;
    height: 70px;
}
header ul li a:hover {
    transition: 1s;
    color:#ffffff;
    background: #0b4646;
}
header ul li ul{
    background-color: #989898;
    position: absolute;
    top: 70px;
    right: 0px;
    width: 180px;
    z-index: 888888;
    display: none;
}
header ul li:hover ul{
    display: block;
}
header ul li ul li{
    width: 100%;
}
header ul li ul li a{
    font-size: 1.1rem ;
}
/*
    carousel
 */
.carousel{
    height:500px ;
    overflow: hidden;
}
.carousel img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel_title{
    text-align: center;
    padding: 40px 0;
    margin: 0;
}
.carousel-inner , .carousel-item{
    border-radius: 5px;
}
.carousel-caption h5{
    font-size: 2rem;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.5);
    max-width: 100%;
    padding: 0.3em;
    /*opacity: 0.5;*/
    color: white;
}
.carousel-caption h5 a{
    opacity: 1;
    color: white;
}
.carousel-caption-hack{
    position: absolute;
    top: 380px;
    right: 0;
    left: 0;
    bottom: 0.05rem;
    padding-top:0rem;
    padding-bottom:0rem;
    text-align: center;
    width: 100%;
}
.carousel-caption h5 a:hover{
    text-decoration: underline;
}
/*
    main
 */
.col-2\.5{
    width: 22%;
}
.sort{
    margin: 10px 0;
}
.sort a{
   margin-bottom: 16px;
    text-align: center;
}
.sort ul li a{
    color: #212529;
}
.sort ul li a::after{
   border: none;
}
.sort ul li a{
    margin-left:40px ;
}
.sort ul li ul li a{
    margin-left:0;
}
.sort ul li ul li div{
    text-align: center;
    padding-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
}
.radio{
    padding-top: 20px;
    border-top: 1px solid black;
}
.nav{
    --bs-nav-link-hover-color: #212529;
}
.nav-tabs .nav-link{
    border: none;
}
.nav-tabs{
    border: none;
}
.sort a:hover{
    text-decoration: underline;
    color:  #212529;
}
.sort .i{
    text-decoration: underline;
}
.post_img img {
    width: 100%;
    height: 100%;
}
.content h2{
    margin: 40px 0;
    text-align: center;
}
.main_content h2{
    margin: 40px 0;
}
.main_content {
    min-height: 513px;
}
.main_content ul {

}
.preview-text a{
    padding: 0 ;
    margin: 0;
}
.preview-text h2,h3,h1,h4,h5,h6{
    padding: 0 ;
    margin: 0;
}
.main_content .post{
    margin-bottom: 1.5em;
}
.main_content .post_text{
    background: white;
    padding: 10px;
    border-radius: 5px;
}
.main_content .post_text h3{
    padding: 30px 0;

}
.main_content .post_text h3 a:hover{
    text-decoration: underline;
    color: #5c5b5b;
}
.main_content .post_text i{
    padding: 0;
    padding-left: 10px;
}
.main_content .post_text .author_date p{
    padding: 0;
}
.single_post .author_date{
    margin: 20px 0;
}
.single_post .author_date i {
    padding: 0;
    float: right;
}
.single_post .author_date p{
    padding: 0;
}
.single_post .author_date .like:hover{
    cursor: pointer;
}
.single_post .author_date i::before {
    padding-right: 15px;
    float: right;
    padding-top: 6px;
}
.post_text .author_date i::before {
    padding-top: 3px;
    padding-right: 10px;
    float: right;
}
.single_post .author_date{
   font-size: 30px;
}
.page-link{
    color:#212529 ;
}
.current{
    background-color: #212529;
    color: white;
}
.current:hover{
    background-color: #212529;
    color: white;
}
.page-item input{
    height: 20px;
    width: 60px;
}
.page-item input:hover{
    border:1px solid #212529;
}
.page-link{
    margin-bottom:0 ;
}
.page-item form{
    height: 38px;
}
.page-item form input{
    height: 24px;
}
/*
   sidebar
 */
.search{
    margin-top: 59px;
}

.search input{
    width: 100%;
}
.sidebar .section{
    background: #ffffff;
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;

}
.sidebar .section h3{
    margin: 20px 0;
}
.sidebar .topics ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-top:1px solid #e0e0e0;
}
.sidebar .topics ul li a{
    display: block;
    padding: 15px 0px;
    border-bottom:1px solid #e0e0e0;
    transition: all 0.5s;
    font-weight: 500;
    font-size: 1.2em;
    color: #5c5b5b;
}
.sidebar .topics ul li a:hover{
    padding-left: 15px;
}
/*
    comments
*/
.comments h3{
    text-align: center;
    margin: 60px 0;
}
.comments textarea{
    resize: none;
    width: 75%;
    height: 60px;
    border: none;
}
.comments textarea:hover{
    border: 1px solid black;
}
.comments span{
    width: 5%;
}
.comments button{
    width: 20%;
    height: 60px;
    border: none;
}
.comments button:hover{
    border: 1px solid black;
}
.comments .author {
    background-color: #fff;
    text-align: center;
    height: 105px;
    border: 2px solid black;
    padding: 0;
    border-radius:20px 0 0 20px;
}
.comments .author p{
    font-size: 20px;
    margin: 15px 0;
}
.comments .text_comment{
    background-color: #fff;
    height: 105px;
    padding: 0;
    margin: 0;
    border-radius:0 20px 20px 0;
}
.comments .text_comment p{
    margin: 18px 0;
    height: 72px;
    padding: 0 20px;
}
.comments .text_comment .like{
    font-size: 30px;
    text-align: center;
    margin-top: 8px;
}
.comments .text_comment .like .lik{
    cursor: pointer;
}
.comments .text_comment .like p{
    text-align: center;
    margin: 0;
    padding: 0;
}
.comment{
    margin-bottom: 20px;
    padding: 0;
}
/*
    footer
*/
.footer{
    background:#303036;
    color: #d3d3d3;
    position: relative;
}
.footer .section{
    padding: 22px;
}
.footer h4{
    color: white;
}
.footer .about .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}
.footer .about .socials a{
    border: 1px solid gray;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all 0.5s;
    color: white;
}
.footer .about .socials a:hover{
    border :1px solid white;
}
.footer .links ul a{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: all 0.5s;
    color: white;
    width: 300px;
}
.footer .links ul a:hover{
    margin-left: 15px;
}
.footer .contact-form .contact-input{
    background: #272727;
    color: #bebdbd;
    width: 100%;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border:none;
}
.footer .contact-form .contact-input:focus{
    background: #1a1a1a;
}
.footer .contact-form .contact-btn{
    float: right;
    font-size:1.1em;
}
.footer .footer-bottom{
    background: #343a40;
    color: #686868;
    height: 50px;
    /*width: 100%;*/
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: -40px;
    left: 0px;
    padding-top: 14px;
}
/*
    Single_post
*/
.single_post{
    margin-bottom: 20px;
}
.single_post .info{
   margin: 20px 0;
}
.single_post .info i{
    display: inline-block;
    padding-right: 20px;
}
.single_post .single_post_text a{
    text-decoration: underline;
}
.single_post .single_post_text a:hover{
    text-decoration: none;
    color: #414141;
}
/*
    input reg (v2)
*/
.reg2_form{
    margin-top: 28vh;
}
.reg2_form h2{
    text-align: center;
    margin: 20px 0;
}
.reg2_form input{
    height: 2.64rem;
}
.reg2_form a{
    transition: all 0.5s;
    margin-left: 70px;
    font-weight: 900;
    font-size: 1.2em;
    color: #5c5b5b;
    text-decoration: underline;
}
.reg2_form a:hover{
    margin-left: 75px;
}
.input2_form{
    /*margin-top: 18%;*/
    margin-top: 38vh;
}
.input2_form h2{
    text-align: center;
    margin: 20px 0;
}
.input2_form a{
    transition: all 0.5s;
    margin-left: 60px;
    font-weight: 900;
    font-size: 1.2em;
    color: #5c5b5b;
    text-decoration: underline;
}
.input2_form a:hover{
    margin-left:65px;
}
.input2_form button{
    width: 40%;
}
/*
    reg
 */

.reg_form h2{
    text-align: center;
    margin: 20px 0;
}
.reg_form input{
    height: 2.70em;
}
.reg_form a{
    transition: all 0.5s;
    margin-left: 70px;
    font-weight: 900;
    font-size: 1.2em;
    color: #5c5b5b;
    text-decoration: underline;
}
.reg_form a:hover{
    margin-left: 75px;
}

/*
    input
*/

.input_form{
    margin-top: 115px;
    margin-bottom: 90px;
}
.input_form h2{
    text-align: center;
    margin: 20px 0;
}
.input_form a{
    transition: all 0.5s;
    margin-left: 60px;
    font-weight: 900;
    font-size: 1.2em;
    color: #5c5b5b;
    text-decoration: underline;
}
.input_form a:hover{
    margin-left:65px;
}
.input_form button{
    width: 40%;
}
/*
    error
 */
.reg_form .error{
    text-align: center;
    color: red;
    font-weight: 900;
    font-size:1.2em;
}
.input_form .error {
    text-align: center;
    color: red;
    font-weight: 900;
    font-size: 1.2em;
    margin-top: 24px;
}



















